.login-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    width: 20vw;
    height: auto;
    display: inherit;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    box-shadow: 0px 9px 20px rgba(13, 38, 76, 0.19);
}
.links{
    display: flex;
    justify-content: space-between;
}

.links p{
    color: #1da1f2;
    font-weight: 400;
}
.links p:hover{
    cursor: pointer;
}
.image{
    margin-left: 0%;
    width: 50px;
    height: 41px;
}